@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #f8fafc;
  --background-color: 	#020817;
  --border-color: #0f172a;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  border-color: var(--border-color);
}


@layer components {
  .btn {
    @apply px-4 py-2 rounded font-medium transition-colors;
  }
  
  .btn-primary {
    @apply bg-f1-red text-white hover:bg-red-700;
  }
  
  .card {
    @apply bg-white rounded-lg shadow-md overflow-hidden;
  }
  
  .table-container {
    @apply overflow-x-auto;
  }
  
  .data-table {
    @apply min-w-full bg-white border border-gray-200;
  }
  
  .data-table th {
    @apply py-3 px-4 border-b text-left font-semibold bg-gray-100;
  }
  
  .data-table td {
    @apply py-3 px-4 border-b;
  }
  
  .data-table tr:hover {
    @apply bg-gray-50;
  }
}